html, body{
    background-color:#222222;
    font-family: 'Barlow', sans-serif;
}

.container {
    display: flex;
    width: 100vw; /*768x1024 width:110vw;*/
    flex-wrap: wrap;
    flex-direction: column;
}
/*Header element styling*/
.site-header{
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    border-bottom: 5px solid #555555;
    flex-direction: row;
    align-self: first baseline;
}
/*Individual header elements*/
.header-flex {
    display: flex;
    padding: 2%;
    flex: 1;
    flex-direction: row;
    align-self: center;
    width: 2vw;
}
/*Navigation link styling*/
.nav {
    color: #FFFFFF;
    font-size: 1.4rem;
}
/*Hamburger menu styling*/
.hamburgermenu {    
    background-color: #555555;
    overflow: hidden;   
    position: left;
}

.hamburgermenu a {
    background-color: #555555;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
}

.hamburgermenu img {
    max-width: 30px;    
}

.hamburgermenu a:hover {
    background-color: #777777;
    color:rgb(190, 13, 13)
}

.hamburgermenu a.active {
    background-color: rgb(190, 13, 13);
}

.hamburgermenu a.active:hover {
    color: #FFFFFF;
}

.hamburgermenu .icon {
    display: none;
}

/*Logo styling*/
.logo {
    display: flex;
}

@media (min-width: 995px) {
    .hamburgermenu {
        display: none;
    }
}
@media (max-width: 994px){
    .header-flex {
        display: none;
    }

    .hamburgermenu {
        display: flex;
        flex-direction: column;
        width: 16vw;
        border: 2px solid;
        height: auto;
    }
    .hamburgermenu img {
        max-width: 30px;
        flex-grow: 1;  
    }
    .hamburgermenu a:not(:first-child) {
        display: none;
    }
    .hamburgermenu a.icon {
        display: flex;
    }
    .hamburgermenu.responsive {
        display: flex;
        position: flex-end;
        width: 16vw;
    }
    .hamburgermenu.responsive img {
        max-width: 30px;
        flex-grow: 1;
    }
    .hamburgermenu.responsive a.icon {
        display: flex;
        align-self: center;
        width: 100%;
    } 
    .hamburgermenu.responsive a {
        float: none;
        display: flex;
        text-align: right;
        flex-grow: 1;   
    }
    .logo {
        justify-content: right;
    }
    .logo img {
        width: 40vw;
        height: auto;   
    }
}
/*Social link styling*/
.header-social {
    display: flex;
    padding: 2%;
    flex: 1;
    flex-direction: row;
    align-self: center;
    width: 2vw;
}

.yt-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}

.x-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}
.insta-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}

.fb-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}

@media (max-width: 994px) {
    .header-social {
        display: flex;
    }
    .fb-icon, .yt-icon, .insta-icon, .x-icon {
        max-width: 7vw;
        max-height: 7vh;
    }
}
/*Group image styling*/
figure {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 15%;
    /*make content fit width of flexbox*/
    margin: 0% 0% 5% 0%;
    width: 100%;
    border-bottom: 5px solid #555555;
}

.band-img {
    display: flex;
    max-width: 100%;
    max-height: 150%;
}

@media (max-width: 994px) {
    figure {
        margin: 0% 0% 10% 0%;
    }

}
/*Styling for news articles*/
article {
    display: flex;  
    background-color: #777777;
    border: 4px solid #555555;
    height: 4rem;
    padding: 2%;
}

.date {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.news-article {
    font-size: 1.3rem;
    font-weight: bold;
}

@media (max-width: 994px) { 
    .date {
        font-size: 1.2rem;
    }

    .news-article {
        font-size: 1rem;
    }
}
@media (max-width: 370px) { 
    .date {
        font-size: 1.2rem;
    }

    .news-article {
        font-size: 0.9rem;
    }
}
/*Styling for footer*/
footer {
    display: flex;  
    flex-direction: row;
    flex: 0;
    padding: 2%;
    margin-top: 10vh;
    max-width: 100%;
    justify-content: space-between;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.footer-info {
    font-size: 1.5rem;
    color: #FFFFFF;
    align-self: flex-end;
}

@media (max-width: 994px) {
    .footer-logo {
        max-width: 50%;
    }
    .footer-info {
        font-size: 1rem;
    }
}
/*Styling for about page*/
.about-header {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.abouthead-text {
    background-color: #777777;
    color: #FFFFFF;
    display: flex;
    flex: 1;
    font-size: 2rem;
    justify-content: center;
    border-left: 5px solid #555555;
    border-right: 2px solid #555555;
    border-bottom: 5px solid #555555;
}
.about-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.about-flex {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1;
    border-left: 5px solid #555555;
    border-right: 2px solid #555555;
    border-bottom: 5px solid #555555;
}

img.about-img {
    height: auto;
    flex-grow: 1;
    width: 100%;
}

.about-text {
    display: flex;
    background-color: #777777;
    flex-grow: 1;
    flex-basis: 15%;
    justify-content: center;
}

.role {
    color: rgb(145, 23, 23);
}

@media (max-width: 994px) {
    .about-container {
        flex-direction: column;
    }
    .about-flex {
        flex-direction: column;
    }
}
/*Biography styling*/
.biography {
    display: flex;  
    flex: 1;
    background-color: #777777;
    border: 4px solid #555555;
    flex-direction: column;
    padding: 3%;
    margin-top: 5%;
    width: auto;
    height: auto;
}

.bio-text {
    color: #FFFFFF;
    margin-top: 0%;
    font-size: 1.3rem;
    font-weight: bold;
}
/*Styling for store items*/
.store-header {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.storehead-text {
    background-color: #777777;
    color: #FFFFFF;
    display: flex;
    flex: 1;
    font-size: 2rem;
    justify-content: center;
    border-left: 5px solid #555555;
    border-right: 2px solid #555555;
    border-bottom: 5px solid #555555;
}
.store-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    flex-direction: row;
}

.store-flex {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-basis: 21%;    
    border: 4px solid #555555;
}

img.store-img {
    max-width: 100%;
    flex-grow: 1;  
}

.label-text {
    background-color: #777777;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

@media (max-width: 994px){
    .store-container {
        flex-direction: column;
        margin: 0%;
    }    
}

/*Styling for tour page*/
.tour-header {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    width: 100vw;
    height: 100%;
    margin-bottom: 5%;
    flex-direction: row;
}

.tourhead-text {
    background-color: #777777;
    color: #FFFFFF;
    display: flex;
    flex: 1;
    font-size: 2rem;
    justify-content: center;
    border-bottom: 5px solid #555555;
}

.tour-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.tour-flex {
    background-color: #777777;
    color: #FFFFFF;
    display: flex;
    padding: 2%;
    flex: 1;
    font-size: 1.6rem;
    border-top: 5px solid #555555;
    border-bottom: 5px solid #555555;
    align-items: center;
}

.tour-date {
    display: flex;
    flex: 1;
    justify-content: center;
    border-right: 2px solid rgb(190, 13, 13);
    
}

.tour-info {
    display: flex;
    font-size: 1.2rem;
    flex: 2;
    justify-content: center;
}

.buy-ticket {
    display: flex;
    flex: 1;
    justify-content: center;
    border-left: 2px solid rgb(190, 13, 13);
}

.button {
    color: #FFFFFF;
}

@media (max-width: 994px) {
    .tour-container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .tour-flex {
        flex-direction: column;
    }

    .tour-info {
        align-self: center;
        padding: 1%;
        border-top: 2px solid rgb(190, 13, 13);
        border-bottom: 2px solid rgb(190, 13, 13);
    }

    .tour-date, .buy-ticket {
        border: none;
    }

}