body{
    background-color:#222222;
    font-family: 'Barlow', sans-serif;
}

.container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}
/*Header element styling*/
.site-header{
    height: 100%;
    width: 100%;
    display: flex;
    flex: 1;
    border-bottom: 5px solid #555555;
    flex-direction: row;
    align-self: first baseline;
}
/*Individual header elements*/
.header-flex {
    display: flex;
    padding: 2%;
    flex: 1;
    flex-grow: 1;
    flex-direction: row;
    align-self: center;
    width: 2vw;
}
/*Navigation link styling*/
.nav {
    color: #FFFFFF;
    font-size: 1.4rem;
}
/*Social link styling*/
.header-social {
    display: flex;
    justify-content: center;
    flex-shrink: 2;
    width: 2vw;
    align-self: flex-end;
}

.yt-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}

.x-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}
.insta-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}

.fb-icon {
    display: flex;
    max-width: 4vw;
    max-height: 4vw;
    justify-content: center;
}
/*Group image styling*/
figure {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 15%;
    /*make content fit width of flexbox*/
    margin: 0% 0% 0% 0%;
    width: 100%;
    border-bottom: 5px solid #555555;
}

.band-img {
    display: flex;
    max-width: 100%;
    max-height: 150%;
}
/*Styling for news articles*/
article {
    display: flex;  
    background-color: #777777;
    border: 4px solid #555555;
    height: 4rem;
    padding: 2%;
}

.date {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.news-article {
    font-size: 1.3rem;
    font-weight: bold;
}
/*Styling for footer*/
footer {
    display: flex;  
    flex-direction: row;
    flex: 0;
    padding: 2%;
    max-width: 100%;
    justify-content: space-between;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.footer-info {
    font-size: 1.5rem;
    color: #FFFFFF;
    align-self: flex-end;
}
/*Styling for about page*/
.about-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.about-flex {
    display: flex;
    flex-grow: 1;
    flex: 1;
    border-left: 5px solid #555555;
    border-right: 2px solid #555555;
    border-bottom: 5px solid #555555;
}

img.about-img {
    height: auto;
    flex-grow: 1;
    width: 25px;
}

.about-label {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;    
    background-color: #777777;
}

.label-text {
    display: flex;
    flex-grow: 1;
    flex-basis: 15%;
    border: 4px solid #555555;
    justify-content: center;
}

.role {
    color: rgb(145, 23, 23);
}
/*Biography styling*/
.biography {
    display: flex;  
    flex: 1;
    background-color: #777777;
    border: 4px solid #555555;
    flex-direction: column;
    padding: 3%;
    width: auto;
    height: auto;
}

.bio-text {
    font-size: 1.3rem;
    font-weight: bold;
}
